.body{
    background-color: black;
}
.menu{
    text-decoration: none;
    width: 100%;
    height: 60px;
    background-color:#1181D1;
    justify-content: center;
    display: flex;
}
.linkMenu{
    text-decoration: none;
    margin: 6px 10px 10px 10px;
    color:white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#B60505;
    border-radius: 10px;
    font-size: 20pt;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding: 9px;
}
.banner{
    justify-content: center;
}
h1{
    font: normal bold Arial Helvetica;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    font: normal bold 15pt Arial;
    color: white;
}

.login{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.paragrafo{
    font: normal bold 20pt Arial Helvetica;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.conta{
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.link{
    color:aqua;
}
